@{
	ViewBag.Title = "Moderator Panel";
}

<hgroup class="title">
	<h2>@ViewBag.Title</h2>
</hgroup>
<h4>@Html.ActionLink("Edit orders", "Index", "Orders")</h4>
<h4>@Html.ActionLink("Edit products", "Index", "Products", new { categoryNameToSearch = "all" }, null)</h4>
<h4>@Html.ActionLink("Edit users", "Index", "Orders")</h4>
