@model IEnumerable<StoreMVC.Models.Product>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	@{
		var ajaxOptions = new AjaxOptions()
		{
			UpdateTargetId = "productsList",
			Url = Url.Action("ProductsSearch"),
			LoadingElementId = "loadingIndicator",
			//OnFailure = "OnFailure"
		};
	}

	@*@if (Request.IsAuthenticated)
	{*@
		<span style="margin-right: 5px; float: left;">
			@Html.ActionLink("Add new product", "Create", FormMethod.Post, new { @class = "btn btn-default" })
		</span>
		<br /><br />
	@*}*@

	<div>
		@using (Ajax.BeginForm(ajaxOptions))
		{
			<div class="form-group">
				<input type="text" name="productNameToSearch" placeholder="Search..." class="form-control" />
				<br />
				@Html.DropDownList("CategoryNameToSearch", (SelectList)ViewBag.Categories, new { @class = "form-control" })
				<br />
				<button type="submit" class="btn btn-default btn-primary">
					@*<span class="glyphicon glyphicon-search"></span>*@
					<span>Search</span>
				</button>
			</div>
		}
		<span id="loadingIndicator" style="display:none; color: orange">Loading...</span>
		<br />
		<div id="productsList" class="productsList">
			@Html.Action("ProductsDataPartial")
		</div>
	</div>

	@section scripts
		{
		@*Ненавязчивый JavaScript для выполнения запроса на сервер без полного обновления страницы*@
		<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	}
	<script type="text/javascript">
		function OnFailure(request, error) {
			alert("Some error appear:\n" + error);
		}
	</script>
</body>
</html>
