@model IEnumerable<StoreMVC.Models.Product>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	@{
		var ajaxOptions = new AjaxOptions()
		{
			UpdateTargetId = "tabledata",
			Url = Url.Action("ProductsSearch"),
			LoadingElementId = "loadingIndicator",
			OnFailure = "OnFailure"
		};
	}
	@*@if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
		{*@
	<span style="margin-right: 5px; float: left;">
		@Html.ActionLink("Add new product", "Create", FormMethod.Post, new { @class = "btn btn-default" })
	</span>
	<br /><br />
	@*  }*@

	<div>
		@*@using (Ajax.BeginForm("ProductsSearch", "", ajaxOptions, new { @class = "bs-example bs-example-form" }))*@
		@using (Ajax.BeginForm(ajaxOptions))
		{
			<div>
				<input type="text" name="name" placeholder=" Search..." />
				<button type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</div>
		}
		<span id="loadingIndicator" style="display:none; color: orange">Loading...</span>
		<br />
		<div id="tabledata">
			@Html.Action("ProductsDataPartial")
		</div>
	</div>

	@section scripts
		{
		@*Ненавязивый JavaScript для выполнения запроса на сервер без полного обновления страницы*@
		<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	}
	<script type="text/javascript">
		function OnFailure(request, error) {
			alert("Some error appear:\n" + error);
		}
	</script>
</body>
</html>
