@model IEnumerable<StoreMVC.Models.Order>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Orders</title>
</head>
<body>
	<h2>Orders</h2>
	<br />

	@*@Html.Action("OrdersUser")*@
	@Html.Partial("_OrdersUserDataPartial")
</body>
</html>