@{
    ViewBag.Title = "My contacts:";
}
<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Name</h3>
<address>
	<p><strong>Phone: </strong>@ViewBag.Phone</p>
	<p><strong>Email: </strong><a href="mailto:@ViewBag.Email">@ViewBag.Email</a></p>
</address>