<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div>
		<h3>Home</h3>
	</div>
	<div>
		<strong>Admin:</strong><br />
		&emsp;Login: admin<br />
		&emsp;Pass: qweqwe
	</div>
	<div>
		<strong>Moderator:</strong><br />
			&emsp;Login: moder<br />
			&emsp;Pass: qweqwe
	</div>
	<div>
		<strong>User:</strong><br />
			&emsp;Login: user<br />
			&emsp;Pass: qweqwe
	</div>
</body>
</html>

@*@section Body
	{
		<h3>Home section</h3>
	}*@
