<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div>
		<h3>Home</h3>
	</div>
</body>
</html>

@*@section Body
{
	<h3>Home section</h3>
}*@
